.pokemon-card {
  background-color: var(--color-card-bg);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px var(--color-border-shadow);
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.pokemon-card:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0 5px 15px var(--color-border-shadow);
}

.pokemon-header {
  background-color: #3498db;
  color: white;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pokemon-id {
  font-size: 14px;
  opacity: 0.8;
}

.pokemon-details {
  padding: 15px;
}

.pokemon-type,
.pokemon-abilities {
  margin-bottom: 15px;
}

.pokemon-type span,
.pokemon-abilities span {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: var(--color-text);
}

.types-container,
.abilities-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.type-badge,
.ability-badge {
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
}

.ability-badge {
  background-color: #ecf0f1;
  color: #2c3e50 !important;
}

.pokemon-card.selected {
  border: 2px solid #3498db;
  box-shadow: 0 0 0 2px rgba(52, 152, 219, 0.3);
}

.pokemon-card.selected .pokemon-header {
  background-color: #2980b9;
}

.type-normal {
  background-color: #a8a878;
  color: #333 !important;
}
.type-fire {
  background-color: #f08030;
  color: #333 !important;
}
.type-water {
  background-color: #6890f0;
  color: #333 !important;
}
.type-electric {
  background-color: #f8d030;
  color: #333 !important;
}
.type-grass {
  background-color: #78c850;
  color: #333 !important;
}
.type-ice {
  background-color: #98d8d8;
  color: #333 !important;
}
.type-fighting {
  background-color: #c03028;
  color: #333 !important;
}
.type-poison {
  background-color: #a040a0;
  color: #333 !important;
}
.type-ground {
  background-color: #e0c068;
  color: #333 !important;
}
.type-flying {
  background-color: #a890f0;
  color: #333 !important;
}
.type-psychic {
  background-color: #f85888;
  color: #333 !important;
}
.type-bug {
  background-color: #a8b820;
  color: #333 !important;
}
.type-rock {
  background-color: #b8a038;
  color: #333 !important;
}
.type-ghost {
  background-color: #705898;
  color: #333 !important;
}
.type-dragon {
  background-color: #7038f8;
  color: #333 !important;
}
.type-dark {
  background-color: #705848;
  color: #333 !important;
}
.type-steel {
  background-color: #b8b8d0;
  color: #333 !important;
}
.type-fairy {
  background-color: #ee99ac;
  color: #333 !important;
}
